<div class="bg">
  <nav>
    <header id="header">
      <div class="logo">
        <h2>Leskeylevy</h2>
      </div>
    <div class="row">
      <ul class="main-nav">
        <li class="active"><a>Home</a></li>
        <li><a>About Me</a></li>
        <li><a>Skills</a></li>
        <li><a>Projects</a></li>
        <li><a>Contacts</a></li>
      </ul>
    </div>

    <div class="hero">
      <h1>Meticulous begins with me....</h1>
    </div>
  </header>
  </nav>

  <section id="about">
    <div class="container">
      <h3>About me</h3>
    </div>
  </section>
</div>
