* {
  margin: 0;
  padding: 0;
}
.bg{
  height: 97vh;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('src/assets/images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba($color: #f8aae1, $alpha: 1.0);
}

#header {
  font-family: cursive;
  cursor: pointer;
  font-size: 2rem;
  background-color: rgba($color: #e4dee2, $alpha: 1.0);
}
.main-nav{
  float: right;
  list-style: none;
  margin-top: 10px;
}

.main-nav li {
  display: inline-block;
}
.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.main-nav li.active a {
  border: 1px solid white;
}
.main-nav li a:hover{
  border: 1px solid white;
}
.logo h2{
  float: left;
  height: auto;
  width: 100px;
}
body {
  font-family: monospace;
}
.row {
  max-width: 1200px;
  margin: auto;
}
.hero{
  position: absolute;
  width: 1200px;
  margin-left: 0px;
  margin-top: 0px;
}
h1 {
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin-top: 22%;
}
